Repository mtaku3/nix-config: changes, and which lint-staged commands are due for each by the changed paths.
All: nix fmt, ormolu

chore: apply formatting
  homes/x86_64-linux/mtaku3@iris/default.nix
  modules/home/app/dev/devenv/default.nix
  modules/home/app/dev/zsh/default.nix
  modules/home/impermanence/default.nix
  modules/home/xserver/windowManager/xmonad/xmonad.hs
  modules/nixos/user/default.nix
  overlays/unstable-overlay/default.nix
  systems/x86_64-linux/iris/default.nix
  systems/x86_64-linux/iris/hardware-configuration.nix
Due: nix fmt, ormolu

chore: fix husky pre-commit hook
  .husky/pre-commit
Due: none

chore: remove husky init on startup
  devenv.nix
Due: nix fmt

chore: add some commands to devnev
  devenv.nix
Due: nix fmt

feat: add devenv cachix
  modules/nixos/nix/devenv-cachix/default.nix
  systems/x86_64-linux/iris/default.nix
Due: nix fmt

fix: disable devenv cachix
  devenv.nix
Due: nix fmt

fix: fix neovim treesitter
  modules/home/app/dev/neovim/config/lua/plugins/treesitter.lua
  modules/home/app/dev/neovim/default.nix
  packages/neovim-unwrapped/default.nix
Due: nix fmt

fix: add node provider for neovim
  modules/home/app/dev/neovim/default.nix
Due: nix fmt

feat: make lsp and none-ls configurable per project
  modules/home/app/dev/neovim/config/lua/lsp/init.lua
  modules/home/app/dev/neovim/config/lua/none-ls/init.lua
  modules/home/app/dev/neovim/config/lua/plugins/lsp/init.lua
  modules/home/app/dev/neovim/config/lua/plugins/none-ls.lua
  modules/home/app/dev/neovim/default.nix
Due: nix fmt

fix: fix formatting config of nvim
  .lintstagedrc
  .nvim.lua
  devenv.nix
  modules/home/app/dev/neovim/config/lua/lsp/init.lua
  modules/home/app/dev/neovim/config/lua/none-ls/init.lua
  modules/home/app/dev/neovim/config/lua/plugins/none-ls.lua
Due: nix fmt

fix: remove debug flag of none-ls
  modules/home/app/dev/neovim/config/lua/plugins/none-ls.lua
Due: none

chore: add hls
  .nvim.lua
  devenv.nix
Due: nix fmt

chore: add stylua and lua_ls
  .lintstagedrc
  .lintstagedrc.mjs
  .nvim.lua
  devenv.nix
Due: nix fmt

chore: format lua files with stylua
  modules/home/app/dev/neovim/config/lua/plugins/none-ls.lua
  modules/home/app/dev/neovim/config/lua/plugins/whichkey.lua
Due: none

feat: add gimp
  homes/x86_64-linux/mtaku3@iris/default.nix
  modules/home/app/desktop/gimp/default.nix
  modules/home/xserver/windowManager/xmonad/xmonad.hs
Due: nix fmt, ormolu

fix: change resize key
  modules/home/xserver/windowManager/xmonad/xmonad.hs
Due: ormolu

feat: insert new float window on top
  modules/home/xserver/windowManager/xmonad/xmonad.hs
Due: ormolu

feat: volume control and display on xmobar
  homes/x86_64-linux/mtaku3@iris/default.nix
  modules/home/xserver/windowManager/xmonad/xmobar/default.nix
  modules/home/xserver/windowManager/xmonad/xmonad.hs
  modules/nixos/system/audio/default.nix
  packages/xmobar-icons/xpms/tb-volume-off.xpm
  packages/xmobar-icons/xpms/tb-volume.xpm
Due: nix fmt, ormolu

fix: adjust trayer width
  modules/home/xserver/windowManager/xmonad/xmobar/default.nix
  modules/home/xserver/windowManager/xmonad/xmonad.hs
Due: nix fmt, ormolu

fix: adjust volume status ordering
  modules/home/xserver/windowManager/xmonad/xmobar/default.nix
Due: nix fmt

fix: fix xmonad insert position
  modules/home/xserver/windowManager/xmonad/xmonad.hs
Due: ormolu

feat: add docker
  modules/nixos/app/docker/default.nix
  systems/x86_64-linux/iris/default.nix
Due: nix fmt

chore: persist Workspaces
  homes/x86_64-linux/mtaku3@iris/default.nix
Due: nix fmt

fix: update vivaldi
  modules/home/app/desktop/vivaldi/default.nix
Due: nix fmt

feat: add direnv
  modules/home/app/dev/devenv/default.nix
  modules/home/app/dev/devenv/direnv.nix
  modules/home/app/dev/neovim/default.nix
Due: nix fmt

feat: add battery display on xmobar
  modules/home/xserver/windowManager/xmonad/xmobar/default.nix
  packages/xmobar-icons/xpms/tb-battery-charging.xpm
  packages/xmobar-icons/xpms/tb-battery-off.xpm
  packages/xmobar-icons/xpms/tb-battery.xpm
Due: nix fmt

update inputs to 24.05
  flake.nix
Due: nix fmt

flake.lock: Update
  flake.lock
Due: none

use snowfallorg.users instead of snowfallorg.user
  lib/module/default.nix
  modules/nixos/user/default.nix
Due: nix fmt

add impermanence home-manager module
  flake.nix
Due: nix fmt

use pinentryPackage instead of pinentryFlavor
  modules/home/app/dev/gpg/default.nix
Due: nix fmt

feat: upgrade to 24.05
  flake.lock
  flake.nix
  homes/x86_64-linux/mtaku3@iris/default.nix
  lib/module/default.nix
  modules/home/app/desktop/vivaldi/default.nix
  modules/home/app/dev/devenv/default.nix
  modules/home/app/dev/gpg/default.nix
  modules/home/impermanence/default.nix
  modules/nixos/suites/common/default.nix
  modules/nixos/system/bluetooth/default.nix
  modules/nixos/user/default.nix
  modules/nixos/xserver/default.nix
  systems/x86_64-linux/iris/default.nix
Due: nix fmt

fix: fix snowfall-lib input to mine
  flake.lock
  flake.nix
Due: nix fmt

chore: fix dev command
  devenv.nix
Due: nix fmt

fix: upgrade tuigreet to 0.9.0
  modules/nixos/xserver/greetd/default.nix
Due: nix fmt

feat: modularize impermanence, refactor a bit and fix docker persistence
  devenv.nix
  flake.nix
  modules/home/app/dev/docker/default.nix
  modules/home/impermanence/default.nix
  modules/nixos/agenix/default.nix
  modules/nixos/app/dev/docker/default.nix
  modules/nixos/app/system/blueman/default.nix
  modules/nixos/impermanence/default.nix
  modules/nixos/system/bluetooth/default.nix
  modules/nixos/system/network/default.nix
  modules/nixos/user/default.nix
  systems/x86_64-linux/iris/default.nix
Due: nix fmt

fix: persist direnv
  modules/home/app/dev/devenv/direnv.nix
Due: nix fmt

fix: persist devenv
  modules/home/app/dev/devenv/default.nix
Due: nix fmt

refactor: refactor impermanence module
  modules/nixos/impermanence/default.nix
  systems/x86_64-linux/iris/default.nix
Due: nix fmt

fix: fix devenv cachix
  modules/nixos/nix/devenv-cachix/default.nix
  systems/x86_64-linux/iris/default.nix
Due: nix fmt

Path conditions:
  nix fmt: any of: *.nix
  ormolu: any of: *.hs
